@use '../variables/breakpoints';
@use '../variables/colors';

@mixin mobile-menu{
	.mobile-menu{
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		padding-top: 10rem;
		background-color: black;
		color: colors.$font;
		opacity: 1;

		.menu{
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			list-style: none;
			list-style-type: none;
			font-size: .5rem;
			a{color: colors.$font;}
			@media(max-width: breakpoints.$small){
				font-size: 1.5rem;
			}
		}

		.fa-dice-d20{
			align-self: flex-end;
			position: relative;
			right: 2rem;
			top: -2rem;
		}
	}
	.hidden {
		display: none;
	}
	.transition.hidden {
		display: block;
		opacity: 0;
	}
	.transition {
		transition: opacity 0.2s ease;
	}
}

@mixin header{
	position: sticky;
	top: 0;
	padding: 0 1rem;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"title menu"
		"title menu"
	;
	gap: 1rem;

	@media(max-width: breakpoints.$medium){
		grid-template-columns: 2fr 1fr;
		grid-template-areas: 
			"title menu"
			"title menu"
		;
	}

	.site-title{
		grid-area: title;
		display: flex;
		align-items: center;
		a{text-decoration: none;}
		@media(max-width: breakpoints.$small){
			display: flex;
			align-items: center;
			font-size: .6rem;
			// a{margin-bottom: 8px;}
		}
	}

	.main-navigation{
		grid-area: menu;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		// @media(min-width: breakpoints.$large){
		// 	// padding-right: 200px;
		// }
		@media(max-width: breakpoints.$medium){
			padding-right: 10px;
			display: flex;
			justify-content: flex-end;
		}
		.menu{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 1rem;
			list-style: none;
			list-style-type: none;
			font-size: 2rem;
			a:hover{color: colors.$link;}
			@media(max-width: breakpoints.$small){
				font-size: 1.5rem;
			}
		}
		.fa-bars{
			display: none;
			font-size: 2rem;
			cursor: pointer;
			@media(max-width: breakpoints.$smallest){
				font-size: 2rem;
			}
		}
		@media(max-width: 750px){
			.menu{display: none;}
			.fa-bars{display: block;}
		}
	}
}