@use '../variables/breakpoints';
@use '../variables/colors';

.service.post-list-item{
	width: 100%;
	border-bottom: colors.$font solid 2px;
	a{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		img{
			height: 200px;
			width: auto;
		}
		@media(max-width: breakpoints.$small){
			flex-direction: column;
			img{height: 150px;}
		}
		@media(max-width: breakpoints.$smallest){
			img{height: 100px;}
			text-align: center;
		}
	}
	footer{
		text-align: center;
	}
}