@use '../../variables/breakpoints';

@mixin mobile-menu{
	.mobile-menu{
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		padding-top: 10rem;
		background-color: black;
		color: white;
		opacity: 1;

		.menu{
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			list-style: none;
			list-style-type: none;
			font-size: 2rem;
			a{
				color: white;
				// text-decoration: none;
			}
			@media(max-width: breakpoints.$small){
				font-size: 1.5rem;
			}
		}

		.fa-dice-d20{
			align-self: flex-end;
			position: relative;
			right: 2rem;
			top: -2rem;
		}
	}
	.hidden {
		display: none;
	}
	.transition.hidden {
		display: block;
		opacity: 0;
	}
	.transition {
		transition: opacity 0.2s ease;
	}
}

@mixin header{
	padding: 0;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 100px 1fr 1fr;
	grid-template-areas: 
		"logo title menu"
		"logo title menu"
	;
	gap: 1rem;

	@media(max-width: breakpoints.$medium){
		grid-template-columns: 100px 2fr 1fr;
		grid-template-areas: 
			"logo title menu"
			"logo title menu"
		;
	}

	.site-logo{
		grid-area: logo;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		border-right: 2px solid #ffffff;
		.custom-logo{
			height: 50px;
			width: auto;
		}
	}

	.site-title{
		grid-area: title;
		height: 100%;
		display: flex;
		align-items: center;
		a{text-decoration: none;}
		a:hover{
			color: unset;
		}
		@media(max-width: breakpoints.$small){
			font-size: .6rem;
		}
	}

	.main-navigation{
		grid-area: menu;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		@media(max-width: breakpoints.$medium){
			padding-right: 10px;
			justify-content: flex-end;
		}
		.menu{
			display: flex;
			gap: 1rem;
			list-style: none;
			list-style-type: none;
			font-size: 2rem;
			// a{text-decoration: none;}
			@media(max-width: breakpoints.$small){
				font-size: 1.5rem;
			}
		}
		.fa-bars{
			display: none;
			font-size: 4rem;
			cursor: pointer;
			@media(max-width: breakpoints.$smallest){
				font-size: 3rem;
			}
		}
		@media(max-width: breakpoints.$medium){
			.menu{display: none;}
			.fa-bars{display: block;}
		}
	}
}